*{ padding:0;margin:0;}
body{font-family:Century Gothic !important;}
.top-content-container{background-color:#0a3151;height:80px;position:relative; }
.border-right-all{border-right: 1px solid #BFBFBF; }.display-inline-block-all{display:inline-block !important;}
.top-location-img{width:20%;}
.header-top ul li a i{padding-right:10px; color:white; font-size:16px;}
.float-r{float:right !important}.float-l{float:left !important}
.text-color-w{color:#fff !important;}
.padding-left-none{padding-left: 0px !important;}
.search-group{margin-top:-5px !important;}
.no-border-radius-all{border:none !important;border-radius:0px;}
.input-group-addon1{background-color:#F9D133 !important; color:#fff; border-radius:0px; padding-left: 40px; padding-right: 40px;}
.shopping-img-top{width: 43px;margin-top: -3px; float:right;}
.border-none-r{border-right: none !important;}
.header-top{padding:5px;}
.logo-img{width:85%;margin-top: 25px;}
.header-top ul li{list-style:none;display:inline-block !important;padding-left:15px;padding-right:15px;text-align:center;border-right: 1px solid #BFBFBF; }
.header-top ul li a{text-decoration:none;display:inline-block !important;text-align:center;color:#fff;}
.menu-list-icon{margin-top:-8px;}
/* nav bar */

.navigation-menu{background-color:#2268B5;color:#fff;border-radius:0px; height:40px;}
.navigation-menu ul li {display:inline-block;padding-left:50px;padding-right:50px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
.navigation-menu ul li a{color:#fff;text-decoration:none;}
/* end nav bar */

.categories-list-container{margin-top:10px;}
.categori-icon{width: 58%;}
.bg-lightblue{background-color:#027cd5 !Important;}
.txt_white{color:#ffffff;}
.pd-tp-3{padding-top:3px !important; padding-bottom:3px !Important;}
#second-header {width:100%;margin:0 auto; float:none;}
#second-header>li{height:28px; text-align:center; width:11%;}
#second-header>li>a{color:white;}
#second-header>li>a:hover{color:white;}
#second-header>.active>a{color:black; background-color:#F9D133; height:28px;}
#second-header>li>a:focus, #second-header>li>a:hover {color:black; background-color:#F9D133; height:28px;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background-color: #F9D133; height:28px;}
.dropdown-menu{padding-top:0px; padding-bottom:0px; background-color: #027CD5; color: white; opacity:0.8; right:0; left:-110px;}
.dropdown-menu>li>a{color:#fff;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {color: #fff; text-decoration: none; background-color: #AB851F;}
.cart-btn{display: block; width: 100%; height: 35px; text-align: center; color: white !important; background-color: #027cd5; padding: 8px; font-size: 14px; text-decoration: none !important;}
.cart-item{height:25px;width:25px; border-radius:50%; background-color: #fff; color: #000; padding:3px; font-size: 14px; display:block; float:right; margin-top:-3px;}

/* media query */
@media only screen and (min-width: 1025px) and (max-width:1200px){
	.header-top ul li{padding-left:7px;padding-right:7px;}
	.header-top ul li a{font-size: 12px;}
}
@media only screen and (min-width: 992px) and (max-width:1024px){
	.header-top ul li{padding-left:7px;padding-right:7px;}
	.header-top ul li a{font-size: 12px;}
}
@media only screen and (min-width: 768px) and (max-width:991px){
	.header-top ul li {list-style: none;display: inline-block !important;padding-left:6px;padding-right:6px;text-align: center;border-right: 1px solid #BFBFBF;font-size:10px;}
	.navigation-menu ul li {display:inline-block;padding-left:10px !important;padding-right:30px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
	.logo-img{width:100%;margin-top: 25px;}
	.shopping-img-top{width: 31px;margin-top: 0px; float:right;}
	#second-header>li>a{font-size:12px;}
}
@media only screen and (min-width: 481px) and (max-width:767px){
	.header-top ul li {list-style: none;display: inline-block !important;padding-left:10px;padding-right:10px;text-align: center;border-right: 1px solid #BFBFBF;font-size:13px;}
	.navigation-menu ul li {display:inline-block;padding-left:3px !important;padding-right:10px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
	.header-top ul li{padding-left:5px;padding-right:5px;}
	.header-top ul li a{font-size: 9px;}
	.header-top ul li a i{padding-right:6px; color:white; font-size:12px;}
	#second-header>li { height: 28px; text-align: left; width: 100%;}
}
@media (max-width: 480px){
	.header-top ul li{padding-left:2px;padding-right:2px;}
	.header-top ul li a{font-size: 8px;}
	.header-top ul li a i{padding-right:3px; color:white; font-size:9px;}
	.top-location-img-content{padding-left:2px;}
	.search-input-box {width: 50%;padding-left: 20px;}
	.shopping-img-top{width:43px;}
	#my-nav-bar.my-nav-bar-list li {list-style: none;display: inline-block !important;padding-left:10px;padding-right:10px;text-align: center;border-right: 1px solid #BFBFBF;font-size:13px;}
	/* menu bar */
	.navigation-menu ul li {display:inline-block;padding-left: 0px !important;padding-right: 1px !important;color:#fff;border-right: 1px solid #BFBFBF;margin-top:8px; font-size:9px;}
	#second-header>li { height: 28px; text-align: left; width: 100%;}
	/* end */
}

/* Home page CSS starts here	*/
.border-lt-grey{border:1px solid #e7e7e7;}
.border-lt-blue{border:1px solid #027cd5;}
.cat-box{padding-left: 0px; padding-right: 0px;}
.bg-lightgrey{background-color:#F4F4F4;}
.bg-yellow{background-color:#F9D133;}
.cat-img{width:60%;}
.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mb-10{margin-bottom:10px;}
.mr-m5{margin-right:-5px;}
.mr-m10{margin-right:-10px;}
.ml-m5{margin-left:-5px;}
.ml-m10{margin-left:-10px;}
.car-type-name{text-align:center; font-size:12px; color:#7F7E7A; padding-bottom:5px;}
.search-btn{display:block; width:100%; height:40px; text-align:center; color:white; background-color:#027cd5; padding:10px; font-size:14px; text-decoration:none !important; border-radius:2px;}
.search-btn:focus, .search-btn:hover {color:#D2D2D2;}
.hybrid .nav-tabs{border-bottom:none;}
.hybrid .nav-tabs>li{list-style:none; display:block; width:25%; border:none; background-color: #027cd5; font-size:15px;}
.hybrid .nav-tabs>li.active{background-color: #027cd5;}

.hybrid .nav-tabs>li>a{padding:5px; border:none; text-decoration:none !Important; height:56px; display:table-cell; vertical-align: middle;  color: #fff;}
.hybrid .nav-tabs>li.active>a{padding:5px; border:none;}

.hybrid .nav-tabs>li.active>a, .hybrid .nav-tabs>li.active>a:focus, .hybrid .nav-tabs>li.active>a:hover {color: #fff; background-color: #027cd5; border-bottom: 5px solid #F9D133;}
@media only screen and (min-width: 768px) and (max-width:991px){
	.hybrid .nav-tabs>li{font-size:12px;}
}
@media only screen and (min-width: 481px) and (max-width:767px){
	.hybrid .nav-tabs>li{font-size:12px;}
}
@media (max-width: 480px){
	.hybrid .nav-tabs>li{font-size:10px;}
	.cat-img{width:50%;}
}
/* Home page CSS ends here	*/

/* News page CSS starts here	*/
.news-box{padding:10px; border: 1px solid #e7e7e7;}
.news-title{color:#CE0505; height:45px; line-height:19px; font-size:17px; font-weight:600; padding-top:3px; padding-bottom:3px; display:table-cell; vertical-align:middle; text-transform: uppercase;}
.news-brief{font-size:12px; line-height:16px; min-height:65px; max-height:65px; overflow:hidden;}
.news-thumbnail-img{width:100%; height: 150px;}
.news-title-txt{font-size:23px;}
.news-desc{font-size:17px; text-align:justify; line-height:30px;}
@media only screen and (min-width: 768px) and (max-width:1024px){
	.news-thumbnail-img{width:100%; height: 130px;}
	.news-title-txt{font-size:20px;}
	.news-desc{font-size:16px; line-height:24px;}
}
@media (max-width: 767px){
	.news-thumbnail-img{width:100%; height: auto;}
	.news-title-txt{font-size:17px;}
	.news-desc{font-size:14px; line-height:20px;}
}
/* News page CSS ends here	*/

/* Compare page CSS starts here	*/
.compare-box{margin: 0 auto; width:75%;}
.compare-title{min-height: 45px; max-height:45px; overflow: hidden; text-align: center; font-size: 13px; font-weight: 600; margin-top: 10px; margin-bottom: 10px;}
.comp-car-title{color: #027CD5; font-size: 17px; font-weight: 600; margin-bottom: 5px; min-height:50px; max-height:50px; overflow: hidden;}
.comp-book-btn{background-color: #fff; border: 2px solid #CE0505; padding: 7px; font-size: 16px; font-weight: 500; color: #CE0505;}
@media only screen and (min-width: 768px) and (max-width:1024px){
	.compare-box{margin: 0 auto; width:95%;}
	.comp-car-title{font-size:15px;}
}
@media (max-width: 767px){
	.compare-box{margin: 0 auto; width:100%;}
	.comp-car-title{font-size:12px;}
	.compare-title{font-size:11px; min-height:60px; max-height:60px; }
	.compare-box>h4{font-size:12px;}
	.comp-book-btn{font-size:9px; padding:3px;}
	.compare-box .news-thumbnail-img{height:110px;}
}
@media (max-width: 480px){
	.compare-title{font-size:9px;}
	.compare-box .news-thumbnail-img{height:80px;}
}
/* Compare page CSS ends here	*/

/*edit product css */
.nav-tabs1{background-color:#2268B5 !important; color: #FFF;margin-bottom:10px;}
.nav-tabs1>li{width:auto !important;display:inline-block;}
.nav-tabs1>li.active>a, .nav-tabs1>li.active>a:focus, .nav-tabs1>li.active>a:hover{
    color: #FFF !important;
    cursor: default;
    background-color:#2268B5;
    border-top:5px solid #eb8104 !important;
    border-bottom-color: transparent;
}
.nav-tabs1>li>a {
    margin-right: 2px !important;
    line-height: 1.42857143;
	background-color:#2268B5;
    border: none !important;
    border-radius:0 !important;
	color: #FFF;
	border-top: 2px solid #eb8104;
	padding-right:40px;
	padding-left:42px;
	
}
.nav-tabs1>li>a:focus, .nav-tabs1>li>a:hover {
    text-decoration: none;
    background-color: #2268B5;
}
.edit-product-panel>.panel-heading {
    color: #333;
    background-color: #fff !important;
    border-color: #ddd !important;
	
}
.border-color-white{border-color: #fff;}
.nav-tabs1>li{margin-bottom: 0px !important;}
.nav-tabs1{border-bottom:none !important}
.well-container{background-color:#fff !important ; padding:10px;}
.Picture-Preview{padding:20px;width:86%;}
.btn-default:hover, .btn:hover, .circle_icon :hover {
    background-color: #0A2B3D;
    color: #fff;
}
.img-thumnile-bg{
	background-color: #2268B5 !important;
    padding: 10px !important;
    border-radius: 50px !important;
	color:#fff;
	
	}
.padding-right-8{padding-right:8px;}
.basic-detail-save-btn{padding-right:88px;}
.picture-color-edit th{background-color:#2268B5 !important;color:#fff;}
.picture-color-edit tr>td>a{text-decoration:none;}
.delete-box-color{color:#984807 !important;}
.picture-color-edit tr>td,.picture-color-edit th{text-align:center;}
.padding-right-10{padding-right:10px;}
.picture-padding-right-10{padding-right:10px;}
.padding-left-10{padding-left:10px;}
.font-size-16{font-size:16px !important}
.padding-10{padding:10px;}
.text-align-left{text-align:left !important;}
.Specification-padding-20{padding:20px !important;}
.float-right{float:right !important;}
.border-all{border:1px solid #f3f3f3;}
.bootstrap-switch-handle-off {
    color: #000;
    background: #BD4038 !important;
}
.bootstrap-switch-handle-on {
    color: #000;
    background:#008f00 !important;
}

@media only screen and (min-width: 1025px) and (max-width:1200px){
	.nav-tabs1>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		background-color:#2268B5;
		border: none !important;
		border-radius:0 !important;
		color: #FFF;
		border-top: 2px solid #eb8104;
		padding-right:25px !important;
		padding-left:25px !important;
	}
}
@media only screen and (min-width: 651px) and (max-width:998px){
	.nav-tabs1>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		background-color:#2268B5;
		border: none !important;
		border-radius:0 !important;
		color: #FFF;
		border-top: 2px solid #eb8104;
		padding-right:12px !important;
		padding-left:12px !important;
	}
/* Locations page css */
.Locations-panel{border:none !important;}


/* end location page css */
	
}
@media only screen and (min-width: 992px) and (max-width:1024px){
	.nav-tabs1>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		background-color:#2268B5;
		border: none !important;
		border-radius:0 !important;
		color: #FFF;
		border-top: 2px solid #eb8104;
		padding-right:25px !important;
		padding-left:25px !important;
	}
}
@media only screen and (min-width: 481px) and (max-width:767px){
	.nav-tabs1>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		background-color:#2268B5;
		border: none !important;
		border-radius:0 !important;
		color: #FFF;
		border-top: 2px solid #eb8104;
		padding-right:5px !important;
		padding-left:5px !important;
	}
	.basic-detail-save-btn{padding-right:0px !important;}
}
@media (max-width: 480px){
	.basic-detail-save-btn{padding-right:0px !important;}
	.Picture-Preview {
		padding: 20px;
		width: 100%;		
	}
	.font-size-16{font-size:14px !important}
	.picture-padding-right-10{padding-right:0px !important;}
	.Specification-padding-20{padding:0px !important;}
}
/* end product edit css */

/*Details Page css starts */
.item-img{border:1px solid #EEE;padding:10px;text-align: center;display: inline-block;}
.item-img img{width:85%;margin-bottom:5px;}
.item-name .fa{color:#DC5452;}
.item-location{ display: inline-block; width: 100%;}
.item-location .dropdown{ font-size: 15px; }
.item-location span{ color: #777; }
.item-hr{margin-top:10px;margin-bottom:10px;border-color:#EEE;}
.item-price span{font-size:34px;color:#DC5452;}
.br-right{border-right:1px solid #EEE;}
.item-price{height: 100px; display: table-cell; vertical-align: middle;}
.item-subprice{height:50px;line-height:40px;}
.item-subprice span{width: 120px; display: block; float: left;}
.item-action{text-align:center;}
.item-action .btn{ border-radius: 0px; outline: none; background-color: #027CD5; color: #FFF;font-size: 18px; width: 32%;}
.item-colors ul{list-style-type:none;margin-bottom:0px;}
.item-colors li{display: inline-block; border:1px solid #EEE; cursor: pointer;padding:2px;}
.item-colors li div{width: 25px; height: 25px}
.item-colors span{line-height: 30px; font-size:16px;}
.item-benfit{background-color: yellow; padding: 10px; font-size: 20px; text-align: center;width:30%;float:left;}
.item-benfits{border: 1px solid #027CD5; padding: 9px; font-size: 20px; text-align: center; float:left;width:17%;margin-left:5px;} 	
.item-feature{border: 1px solid #EEE; padding: 10px; text-align: center; float:left;width:190px;height:90px;} 	
.item-features ul{background-color: #027CD5;  border: 0px;} 	
.item-features li{ margin-bottom: -5px;border-right:1px solid #CCC;width: 20%; text-align: center;} 	
.item-features li a{border-radius: 0px;  background-color: #027CD5;  border: 0px; color: #fff;margin-right:0px; } 	
.item-features li a:hover{border-radius: 0px;  background-color: #027CD5;  color: #fff; border-bottom:5px solid yellow;} 	
.item-features .nav-tabs>li.active>a{background-color: #027CD5; border: 0px; color: #fff;border-bottom:5px solid yellow;} 	
.item-features .tab-content{border: 1px solid #EEE;  padding: 10px;}
.item-rating{text-align:right;}
@media (max-width: 1024px){
	.item-feature{width:240px;}
	.item-benfit{padding: 6px; font-size: 16px; width: 35%;}
	.item-benfits{padding: 5px; font-size: 16px;width: 112px;}
}
@media (max-width: 768px){
	.item-name{margin-top:10px;}
	.item-rating{padding-right:25px;}
	.item-feature{width:240px;}
	.item-benfit{padding: 6px; font-size: 16px; width: 35%;}
	.item-benfits{padding: 5px; font-size: 16px;width: 112px;}
}
@media (max-width: 480px){
	.item-name{margin-bottom:10px;}
	.item-price{height:auto;}
	.item-subprice{height:auto;line-height:25px;}
	.item-action .btn{width: 100%; margin-bottom: 5px;}
	.item-benfit{width: 100%;margin-bottom: 5px;}
	.item-benfits{width: 100%;margin-bottom: 5px;margin-left: 0px;}
	.item-feature{width: 100%;}
}
@media (max-width: 360px){}
/*Details Page css ends */

/* List Page CSS Starts */
.filter-heading{ background-color: #DDD; padding: 5px 10px; font-size: 15px; }
.filter-heading .fa-minus, .filter-heading .fa-plus{ float: right; margin-top: 3px; cursor: pointer; }
.filter-price,.filter-manufacture,.filter-mileage{border-right:2px solid #DDD;}
.filter-price .slider-example,.filter-mileage .slider-example{ padding: 45px 15px 10px 15px;}
.filter-price .slider.slider-horizontal,.filter-mileage .slider.slider-horizontal{ width:100%; }
.filter-price .tooltip-inner,.filter-mileage .tooltip-inner{ background-color:#DDD; color: #000;}
.filter-price .tooltip.top .tooltip-arrow,.filter-mileage .tooltip.top .tooltip-arrow{ border-top-color:#DDD; }
.filter-manufacture ul,.sort-by ul,.product-car ul{ list-style-type:none; margin-bottom: 0px; }
.filter-manufacture ul li{ height: 30px; border-bottom: 1px solid #DDD; padding: 5px 10px; }
.sort-by{border-bottom:1px solid #027cd5; display: inline-block; width: 100%;padding-bottom:5px; } 
.sort-by li{display: inline; padding-right: 10px; border-right: 1px solid #DDD;}  
.sort-by li:last-child{padding-right: 5px; border-right: 0px;}
.product-car{border:1px solid #DDD; margin-top:5px;}
.product-car img{width: 100%; height: 112px;}
.product-car h4{font-weight: 600;}
.product-car ul li{display:inline-block; width:49%; height: 30px;font-size: 14px; color: #777;}
.product-price{margin-top:30px;text-align:center;font-size:24px;font-weight:600;color:#027cd5;}
.product-on-road{font-size:12px;font-weight:0px; color: #777;}
@media (max-width: 1024px){
	.product-price{font-size:18px;}
}
@media (max-width: 768px){
	.product-price{font-size:18px;}
}
@media (max-width: 480px){
	.product-car img{height:185px;}
	.product-car{padding:10px;margin-left:5px;margin-bottom:5px;}
	.product-price{margin-top:0px;}
}
@media (max-width: 360px){}
/* List Page CSS Ends */