*{ padding:0;margin:0;}
body{font-family:Century Gothic !important;}
.top-content-container{background-color:#0a3151;height:80px;position:relative; }
.border-right-all{border-right: 1px solid #BFBFBF; }.display-inline-block-all{display:inline-block !important;}
.top-location-img{width:20%;}
.header-top ul li a i{padding-right:10px; color:white; font-size:16px;}
.float-r{float:right !important}.float-l{float:left !important}
.text-color-w{color:#fff !important;}
.padding-left-none{padding-left: 0px !important;}
.search-group{margin-top:-5px !important;}
.no-border-radius-all{border:none !important;border-radius:0px;}
.input-group-addon1{background-color:#2268B5 !important; color:#fff; border-radius:0px;}
.shopping-img-top{width: 43px;margin-top: -3px; float:right;}
.border-none-r{border-right: none !important;}
.header-top{padding:5px;}
.logo-img{width:85%;margin-top: 25px;}
.border-all-lite{border:1px solid #D9D9D9 !important;}
.border-all{border:1px solid #f3f3f3 !important;}
.header-top ul li{list-style:none;display:inline-block !important;padding-left:15px;padding-right:15px;text-align:center;border-right: 1px solid #BFBFBF; }
.header-top ul li a{text-decoration:none;display:inline-block !important;text-align:center;color:#fff;}
.menu-list-icon{margin-top:-8px;}
/* nav bar */

.navigation-menu{background-color:#2268B5;color:#fff;border-radius:0px; height:40px;}
.navigation-menu ul li {display:inline-block;padding-left:50px;padding-right:50px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
.navigation-menu ul li a{color:#fff;text-decoration:none;}
/* end nav bar */

.categories-list-container{margin-top:10px;}
.categories-list{padding:2px;}
.categori-icon{width: 58%;}
.categori-box{height:90px;}
.img-box-1{background-color:#2268B5;color:#fff;border:1px solid #ccc;}
.img-box-all{background-color:#F2F2F2;border:1px solid #ccc;}
.bg-lightblue{background-color:#027cd5;}
.txt_white{color:#ffffff;}
.pd-tp-3{padding-top:3px !important; padding-bottom:3px !Important;}
#second-header {width:100%;margin:0 auto; float:none;}
#second-header>li{height:28px; text-align:center; width:20%;}
#second-header>li>a{color:white;}
#second-header>li>a:hover{color:white;}
#second-header>.active>a{color:black; background-color:#e7e7e7;}
#second-header>li>a:focus, #second-header>li>a:hover {color:black; background-color:#e7e7e7;}

/* media query */
@media only screen and (min-width: 1025px) and (max-width:1200px){
	.header-top ul li{padding-left:7px;padding-right:7px;}
	.header-top ul li a{font-size: 12px;}
}
@media only screen and (min-width: 992px) and (max-width:1024px){
	.header-top ul li{padding-left:7px;padding-right:7px;}
	.header-top ul li a{font-size: 12px;}
}
@media only screen and (min-width: 768px) and (max-width:991px){
	.header-top ul li {list-style: none;display: inline-block !important;padding-left:6px;padding-right:6px;text-align: center;border-right: 1px solid #BFBFBF;font-size:10px;}
	.navigation-menu ul li {display:inline-block;padding-left:10px !important;padding-right:30px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
	.logo-img{width:100%;margin-top: 25px;}
	.shopping-img-top{width: 31px;margin-top: 0px; float:right;}
	#second-header>li>a{font-size:12px;}
}
@media only screen and (min-width: 481px) and (max-width:767px){
	.header-top ul li {list-style: none;display: inline-block !important;padding-left:10px;padding-right:10px;text-align: center;border-right: 1px solid #BFBFBF;font-size:13px;}
	.navigation-menu ul li {display:inline-block;padding-left:3px !important;padding-right:10px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
	.header-top ul li{padding-left:5px;padding-right:5px;}
	.header-top ul li a{font-size: 9px;}
	.header-top ul li a i{padding-right:6px; color:white; font-size:12px;}
	#second-header>li { height: 28px; text-align: left; width: 100%;}
}
@media (max-width: 480px){
	.header-top ul li{padding-left:2px;padding-right:2px;}
	.header-top ul li a{font-size: 8px;}
	.header-top ul li a i{padding-right:3px; color:white; font-size:9px;}
	.top-location-img-content{padding-left:2px;}
	.search-input-box {width: 50%;padding-left: 20px;}
	.shopping-img-top{width:43px;}
	#my-nav-bar.my-nav-bar-list li {list-style: none;display: inline-block !important;padding-left:10px;padding-right:10px;text-align: center;border-right: 1px solid #BFBFBF;font-size:13px;}
	/* menu bar */
	.navigation-menu ul li {display:inline-block;padding-left: 0px !important;padding-right: 1px !important;color:#fff;border-right: 1px solid #BFBFBF;margin-top:8px; font-size:9px;}
	#second-header>li { height: 28px; text-align: left; width: 100%;}
	/* end */
}


/*edit product css */

.nav-tabs1{background-color:#2268B5 !important; color: #FFF;}
.nav-tabs1>li.active>a, .nav-tabs1>li.active>a:focus, .nav-tabs1>li.active>a:hover{
    color: #FFF;
    cursor: default;
    background-color:#2268B5;
    border-top:5px solid #eb8104 !important;
    border-bottom-color: transparent;
}
.nav-tabs1>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
	background-color:#2268B5;
    border: none !important;
    border-radius:0 !important;
	color: #FFF;
	border-top: 2px solid #eb8104;
	padding-right:45px;
	padding-left:45px;
	
}
.nav-tabs1>li>a:focus, .nav-tabs1>li>a:hover {
    text-decoration: none;
    background-color: #2268B5;
}
.edit-product-panel>.panel-heading {
    color: #333;
    background-color: #fff !important;
    border-color: #ddd !important;
	
}
.border-color-white{border-color: #fff;}
.nav-tabs1>li{margin-bottom: 0px !important;}
.nav-tabs1{border-bottom:none !important}
.well-container{background-color:#fff !important ; padding:10px;}
.Picture-Preview{padding:20px;width:86%;}
.btn-default:hover, .btn:hover, .circle_icon :hover {
    background-color: #0A2B3D;
    color: #fff;
}
.img-thumnile-bg{
	background-color: #2268B5 !important;
    padding: 10px !important;
    border-radius: 50px !important;
	color:#fff;
	
	}
.padding-right-8{padding-right:8px;}
.basic-detail-save-btn{padding-right:88px;}
.picture-color-edit th{background-color:#2268B5 !important;color:#fff;}
.picture-color-edit tr>td>a{text-decoration:none;}
.delete-box-color{color:#984807 !important;}
.picture-color-edit tr>td,.picture-color-edit th{text-align:center;}
.padding-right-10{padding-right:10px;}
.picture-padding-right-10{padding-right:10px;}
.padding-left-10{padding-left:10px;}
.font-size-16{font-size:16px !important}
.padding-10{padding:10px;}
.text-align-left{text-align:left !important;}
.Specification-padding-20{padding:20px !important;}
.float-right{float:right !important;}
.bootstrap-switch-handle-off {
    color: #000;
    background: #BD4038 !important;
}
.bootstrap-switch-handle-on {
    color: #000;
    background:#008f00 !important;
}

@media only screen and (min-width: 1025px) and (max-width:1200px){
	.nav-tabs1>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		background-color:#2268B5;
		border: none !important;
		border-radius:0 !important;
		color: #FFF;
		border-top: 2px solid #eb8104;
		padding-right:25px !important;
		padding-left:25px !important;
	}
}
@media only screen and (min-width: 651px) and (max-width:998px){
	.nav-tabs1>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		background-color:#2268B5;
		border: none !important;
		border-radius:0 !important;
		color: #FFF;
		border-top: 2px solid #eb8104;
		padding-right:15px !important;
		padding-left:15px !important;
	}
	
}
@media only screen and (min-width: 992px) and (max-width:1024px){
	.nav-tabs1>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		background-color:#2268B5;
		border: none !important;
		border-radius:0 !important;
		color: #FFF;
		border-top: 2px solid #eb8104;
		padding-right:25px !important;
		padding-left:25px !important;
	}
}
@media only screen and (min-width: 481px) and (max-width:767px){
	.nav-tabs1>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		background-color:#2268B5;
		border: none !important;
		border-radius:0 !important;
		color: #FFF;
		border-top: 2px solid #eb8104;
		padding-right:5px !important;
		padding-left:5px !important;
	}
	.basic-detail-save-btn{padding-right:0px !important;}
}
@media (max-width: 480px){
	.basic-detail-save-btn{padding-right:0px !important;}
	.Picture-Preview {
		padding: 20px;
		width: 100%;		
	}
	.picture-padding-right-10{padding-right:0px !important;}
	.Specification-padding-20{padding:0px !important;}
}

/* end product edit css */