*{ padding:0;margin:0;}
body{font-family:Century Gothic !important;}
.top-content-container{background-color:#F2F2F2;height:90px;position:relative;}
.border-right-all{border-right: 1px solid #BFBFBF; }.display-inline-block-all{display:inline-block !important;}
.top-location-img{width:20%;}.top-location-img-content{padding-left:10px;}
.float-r{float:right !important}.float-l{float:left !important}
.text-color-w{color:#fff !important;}
.padding-left-none{padding-left: 0px !important;}
.search-group{margin-top:-5px !important;}
.no-border-radius-all{border:none !important;border-radius:0px;}
.input-group-addon1{background-color:#2268B5 !important; color:#fff; border-radius:0px;}
.shopping-img-top{width: 43px;margin-top: -3px;}
.border-none-r{border-right: none !important;}
.header-top{padding:5px;}
.logo-img{width:85%;margin-top: -6px;}
.border-all-lite{border:1px solid #D9D9D9 !important;}
.header-top ul li{list-style:none;display:inline-block !important;padding-left:12px;padding-right:12px;text-align:center;border-right: 1px solid #BFBFBF; }
.header-top ul li a{text-decoration:none;display:inline-block !important;text-align:center;color:#7F7F7F;}
.menu-list-icon{margin-top:-8px;}
/* nav bar */

.navigation-menu{background-color:#2268B5;color:#fff;border-radius:0px; height:40px;}
.navigation-menu ul li {display:inline-block;padding-left:50px;padding-right:50px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
.navigation-menu ul li a{color:#fff;text-decoration:none;}
/* end nav bar */

.categories-list-container{margin-top:10px;}
.categories-list{padding:2px;}
.categori-icon{width: 58%;}
.categori-box{height:90px;}
.img-box-1{background-color:#2268B5;color:#fff;border:1px solid #ccc;}
.img-box-all{background-color:#F2F2F2;border:1px solid #ccc;}

/* media query */
@media only screen and (min-width: 768px) and (max-width:1224px){
	.header-top ul li {list-style: none;display: inline-block !important;padding-left:10px;padding-right:10px;text-align: center;border-right: 1px solid #BFBFBF;font-size:13px;}
	.navigation-menu ul li {display:inline-block;padding-left:10px !important;padding-right:30px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
	
	.logo-img{width:85%;margin-top: 3px;}
}
@media only screen and  (max-width:768px){
	.header-top ul li {list-style: none;display: inline-block !important;padding-left:10px;padding-right:10px;text-align: center;border-right: 1px solid #BFBFBF;font-size:13px;}
	.navigation-menu ul li {display:inline-block;padding-left:3px !important;padding-right:10px;color:#fff;border-right: 1px solid #BFBFBF;margin-top:6px;}
	
}
@media (max-width: 480px){
	.header-top ul li {list-style: none;display: inline-block !important;padding-left:2px;padding-right:2px;text-align: center;border-right: 1px solid #BFBFBF;font-size:11px;}
	.top-location-img-content{padding-left:2px;}
	.search-input-box {width: 50%;padding-left: 20px;}
	.shopping-img-top{width:43px;}
	#my-nav-bar.my-nav-bar-list li {list-style: none;display: inline-block !important;padding-left:10px;padding-right:10px;text-align: center;border-right: 1px solid #BFBFBF;font-size:13px;}
	/* menu bar */
	.navigation-menu ul li {display:inline-block;padding-left: 0px !important;padding-right: 1px !important;color:#fff;border-right: 1px solid #BFBFBF;margin-top:8px; font-size:9px;}
	/* end */
}